<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                    <li class="uk-active"><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li class="named_tab"><a href="#">Item 3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>