<div class="md-card-content js_hidden mostly-customized-scrollbar mainScroll">
    <ul class="md-list md-list-addon">
        <li>
            <a href="{{ path('production_histogramme') }}">
                <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Dashboard</span>
                    <span class="uk-text-small uk-text-muted">Synthèse de la production & Vue général</span>
                </div>
            </a>
        </li>
        <li>
            <a href="{{ path('production_index') }}">
                <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Production</span>
                    <span class="uk-text-small uk-text-muted">État de la production SFR à date.</span>
                </div>
            </a>
        </li>
        <li>
            <a href="{{ path('production_declaratif') }}">
                <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
                </div>
                <div class="md-list-content">
                    <span class="md-list-heading">Déclaratif</span>
                    <span class="uk-text-small uk-text-muted">État de la production déclarer par les effectifs.</span>
                </div>
            </a>
        </li>
        <li>
            <div class="md-list-addon-element">
                <input type="checkbox" data-md-icheck checked />
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Et non quia laudantium aut ducimus
                    temporibus sapiente molestiae eveniet.</span>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Tenetur molestiae corrupti ipsa porro
                    aperiam exercitationem praesentium distinctio.</span>
            </div>
        </li>
                <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Corporis qui harum adipisci labore
                    omnis ut.</span>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons uk-text-danger">&#xE158;</i>
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Voluptas itaque minima repellat
                    voluptatem eaque minus exercitationem.</span>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <input type="checkbox" data-md-icheck />
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Dignissimos ipsa libero nobis voluptas
                    delectus voluptatem ut dolorem ducimus.</span>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <input type="checkbox" data-md-icheck checked />
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Et non quia laudantium aut ducimus
                    temporibus sapiente molestiae eveniet.</span>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
            </div>
            <div class="md-list-content">
                <span class="md-list-heading">Heading</span>
                <span class="uk-text-small uk-text-muted">Tenetur molestiae corrupti ipsa porro
                    aperiam exercitationem praesentium distinctio.</span>
            </div>
        </li>
    </ul>
</div>
