<div class="md-card-toolbar">

    <button type="button" class="btn btn-primary" data-toggle="modal" id="right_panel_add_something_btn">
        add something
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" id="right_panel_edit_something_btn">
        edit something
    </button>

</div>