<div class="md-card">
  <div class="md-card-content">
    <h3 class="heading_a">Input fields</h3>
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
              <label>Label</label>
              <input type="text" class="md-input" />
            </div>
            <div class="uk-width-medium-1-2">
              <label>Label fixed</label>
              <input type="text" class="md-input label-fixed" />
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <label>Passsword</label>
          <input type="password" class="md-input" />
        </div>
        <div class="uk-form-row">
          <label>Disabled</label>
          <input type="text" class="md-input" disabled />
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="uk-form-row">
          <label>Prefilled</label>
          <input type="text" class="md-input" value="Lorem ipsum dolor sit" />
        </div>
        <div class="uk-form-row">
          <label>Error</label>
          <input type="text" class="md-input md-input-danger" value="Something wrong" />
        </div>
        <div class="uk-form-row">
          <label>Success</label>
          <input type="text" class="md-input md-input-success" value="All ok" />
        </div>
      </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-large-1-4 uk-width-medium-1-2">
        <div class="uk-input-group">
          <span class="uk-input-group-addon"><input type="checkbox" data-md-icheck /></span>
          <label>Checkbox addon</label>
          <input type="text" class="md-input" />
        </div>
      </div>
      <div class="uk-width-large-1-4 uk-width-medium-1-2">
        <div class="uk-input-group">
          <label>Button addon</label>
          <input type="text" class="md-input" />
          <span class="uk-input-group-addon"><a class="md-btn" href="#">Save</a></span>
        </div>
      </div>
      <div class="uk-width-large-1-4 uk-width-medium-1-2">
        <div class="uk-input-group">
          <label>Icon addon</label>
          <input type="text" class="md-input" />
          <span class="uk-input-group-addon">
            <a href="#"><i class="material-icons">&#xE163;</i></a>
          </span>
        </div>
      </div>
      <div class="uk-width-large-1-4 uk-width-medium-1-2">
        <div class="uk-input-group">
          <span class="uk-input-group-addon">$</span>
          <label>Text addon</label>
          <input type="text" class="md-input" />
        </div>
      </div>
    </div>
    <h3 class="heading_c uk-margin-large-top">Fixed width</h3>
    <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin>
      <div class="uk-width-medium-1-1">
        <label>uk-form-width-large</label>
        <input type="text" class="md-input uk-form-width-large" />
      </div>
      <div class="uk-width-medium-1-1">
        <label>uk-form-width-medium</label>
        <input type="text" class="md-input uk-form-width-medium" />
      </div>
      <div class="uk-width-medium-1-1">
        <label>uk-form-width-small</label>
        <input type="text" class="md-input uk-form-width-small" />
      </div>
      <div class="uk-width-medium-1-1">
        <label>uk-form-width-mini</label>
        <input type="text" class="md-input uk-form-width-mini" />
      </div>
    </div>
  </div>
</div>