<div class="md-card">
  <div class="md-card-content">
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-2">
        <h3 class="heading_a uk-margin-medium-bottom">Textareas (auto resize)</h3>
        <div class="uk-form-row">
          <label>Textarea</label>
          <textarea cols="30" rows="4"
            class="md-input">{{arrayResponse[0]}}</textarea>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <h3 class="heading_a uk-margin-medium-bottom">Textareas (no auto resize)</h3>
        <div class="uk-form-row">
          <label>Textarea</label>
          <textarea cols="30" rows="4"
            class="md-input no_autosize">Deserunt eveniet blanditiis natus eum quidem laborum sit quas mollitia veritatis distinctio eum est iste rerum pariatur quibusdam voluptatem sint magni magnam eum ratione possimus magni eum.</textarea>
        </div>
      </div>
    </div>
  </div>
</div>