<div class="modal fade slideModal" id="main_right_panel_quizz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false">


  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content height-700">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        <span id="titrePallier"> </span> - <span id="minuteur"></span>
        </h5>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body mostly-customized-scrollbar mainScroll">

        <div id="main_right_panel_renderView_contents">
          <form>
            <h2 id="titreQuestion"></h2>
            <div class="uk-width-medium-1-2 md-input-filled boardProposition" name="Réponse" id="boardProps">
               
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" onclick="nextQuestionRender();">Suivant</button>
        </form>
      </div>
    </div>
  </div>

</div>
