<div class="md-card-content js_hidden mostly-customized-scrollbar mainScroll">
    <ul class="md-list md-list-addon">
        <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
            </div>
            <div class="md-list-content">
                <a href="{{ path('production_index') }}"><span class="md-list-heading">Index</span></a>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
            </div>
            <div class="md-list-content">
                <a href="{{ path('example_exempleUn') }}"><span class="md-list-heading">ExempleUn</span></a>
            </div>
        </li>
        <li>
            <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE0B9;</i>
            </div>
            <div class="md-list-content">
                <a href="{{ path('example_exempleDeux') }}"><span class="md-list-heading">ExempleDeux</span></a>
            </div>
        </li>
    </ul>
</div>
